@import url('https://fonts.googleapis.com/css?family=Lora:400i');

body {

  background-color: white; /* #aeeaea */
  /* transition: all 2s ease-in-out;  */

}

.fa {
  /* text-align: center; */
  /* padding: 14px; */
  /* font-size: 20px; */
  /* width: 30px; */
  /* text-align: center; */
  /* text-decoration: none; */
  margin: 0 0 0 5%;
  /* height: 50px; */
  /* font-size: 50px; */
  color: white;

  /* border-radius: 50px; */
}

.fa:hover {
    opacity: 0.7;
    filter: brightness(110%);
}

.fa-twitter {
  color: white;
}

.message_css{
  height: 15em;
  padding: 1em 2em 2em 2em;
  background-color: white;
}

.quote_css {
  font-family: 'Lora', serif;
}

.author_css {
  font-style:italic;
  text-align:right;
}

.btn {
  border-radius: 10px;
  padding: 10px;
  font-size: 14px;
  /* margin: 0px 30px 0px 0px; */
  /* height: 50px; */
  margin: 4px 5% 2em 0;
  /* align-self */
  background-color: white;
  border-color: white;
  /* border: none; */
  outline:none;


}
.btn:hover {

  /* background-color: #aeeaea; */
  /* border-color: #aeeaea; */
  filter:brightness(110%);

}
