@import url('https://fonts.googleapis.com/css?family=Lora:400i');

body {
  background-color: white; /* #aeeaea */
}

.fa {
  margin: 0 0 0 5%;
  color: white;
}

.fa:hover {
    opacity: 0.7;
    filter: brightness(110%);
}

.fa-twitter {
  color: white;
}

.message_css{
  background-color: white;
}

.message {
  height: auto;
  min-height: 250px;
  padding: 5%;
}

.quote_css {
  font-family: 'Lora', serif;
}

.author_css {
  font-style:italic;
  text-align:right;
}

.btn {
  border-radius: 10px;
  padding: 10px;
  font-size: 14px;
  margin: 4px 5% 2em 0;
  background-color: white;
  border-color: white;
  outline:none;
}

.btn:hover {
  filter:brightness(110%);
}
